.iconoY{
    font-size: 25px;
    color: red;
}
.iconoF{
    font-size: 25px;
    color: blue;
}
.iconoL{
    font-size: 25px;
    color: rgb(104, 104, 223);
}
.iconoG{
    font-size: 25px;
    color: black;
}